# Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=dbuser
DB_PASSWORD=dbuserpassword
DB_NAME=database
DB_ROOT_PASSWORD=rootpasswqord  # Optional: only needed for db:create

# Server configuration
HOST=0.0.0.0
PORT=3001
NODE_ENV=development
API_BASE=/api/v1

# Auth 
JWT_SECRET=ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCDEFGHIJKLMOPQRSTUVWXYZ1234567890
JWT_EXPIRES_IN=7d